# .NET
bin/
obj/

# Visual Studio / VS Code
.vs/
.vscode/

# Databases
*.db
*.sqlite

# SQLite runtime files
*.db-shm
*.db-wal
*.sqlite-shm
*.sqlite-wal

# React / Node
node_modules/
dist/
build/

# Environment files
.env

# Mac
.DS_Store
